<header id="header">
  <a href="<%- url_for("/") %>">
  <% if (theme.customize.logo && theme.customize.logo.enabled) { %>
    <% if (theme.customize.gravatar.email && theme.customize.logo.gravatar) { %>
      <div id="logo" style="background-image: url(<%- gravatar(theme.customize.gravatar.email) %>);"></div>
    <% } else { %>
      <div id="logo" style="background-image: url(<%- url_for(theme.customize.logo.url) %>);"></div>
    <% } %>
  <% } %>
    <div id="title">
      <h1><%= config.title %></h1>
    </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#"><i class="fa fa-bars fa-2x"></i></a>
      </li>
      <% for (var i in theme.nav) { %> 
        <li><a href="<%- url_for(theme.nav[i]) %>"><%= i %></a></li>
      <% } %>
    </ul>
  </div>
</header>

<% if (!is_post()) { %>
  <section id="about">
    <% if (config.description) { %>
      <%- markdown(config.description) %>
    <% } %>
    <p style="display: inline">
      <% if (theme.customize.social_links) { %>
        Encontre-me em
        <ul id="sociallinks">
          <% for(var i in theme.customize.social_links) { %>
            <li><a class="icon" target="_blank" href="<%- url_for(theme.customize.social_links[i]) %>" title="<%= i %>"><i class="fa fa-<%= i %>"></i></a></li>
          <% } %>
        </ul>.
      <% } %>
    </p>
  </section>
<% } %>
